## 추후처리

In [205]:
import pandas as pd
import numpy as np

df_train = pd.read_csv("train.csv") # 학습용 데이터
df_test = pd.read_csv("submission0225_3__lgb3개2.csv")

In [158]:
df_test

,id,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,...,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner,is_converted
0,19844,0.00,/ / Brazil,ID,0.073248,47466,End Customer,Enterprise,53.0,NaN,...,LGESP,NaN,1,0,0.001183,0.049840,retail,Electronics & Telco,278,1
1,9738,0.25,400 N State Of Franklin Rd Cloud IT / Johnson...,IT,NaN,5405,End Customer,SMB,NaN,NaN,...,LGEUS,NaN,0,0,0.000013,NaN,transportation,Others,437,1
2,8491,1.00,/ / U.A.E,ID,NaN,13597,Specifier/ Influencer,SMB,NaN,NaN,...,LGEGF,less than 3 months,0,0,0.000060,0.131148,hospital & health care,General Hospital,874,0
3,19895,0.50,/ Madison / United States,ID,0.118644,17204,NaN,Enterprise,NaN,NaN,...,LGEUS,more than a year,0,0,0.001183,0.049840,retail,NaN,194,0
4,10465,1.00,/ Sao Paulo / Brazil,ID,0.074949,2329,End Customer,Enterprise,2.0,1.0,...,LGESP,less than 3 months,1,1,0.003079,0.064566,corporate / office,Engineering,167,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5266,13855,0.50,/São Paulo/Brazil,AS,NaN,40292,NaN,Enterprise,10.0,NaN,...,LGESP,NaN,0,0,NaN,NaN,NaN,NaN,97,0
5267,7979,0.25,General / / United States,IT,NaN,47466,NaN,Enterprise,0.0,NaN,...,LGEUS,NaN,0,0,NaN,NaN,NaN,NaN,438,1
5268,12887,0.75,/ OURO BRANCO / Brazil,AS,NaN,46227,Specifier/ Influencer,Enterprise,NaN,NaN,...,LGESP,less than 3 months,0,0,NaN,NaN,NaN,NaN,97,0
5269,17530,0.00,/ / Germany,IT,NaN,45667,End Customer,SMB,NaN,NaN,...,LGEDG,NaN,0,0,NaN,NaN,NaN,NaN,429,1
5270,4330,0.25,/ Ongole / India,AS,NaN,23646,End Customer,Enterprise,NaN,NaN,...,LGEIL,NaN,0,0,NaN,NaN,NaN,NaN,4,1

### 의미있어보이는 행을 True로

In [191]:
cross_tab = pd.crosstab(df_train['bant_submit'], df_train['is_converted'])

# True 비율 계산
cross_tab['ratio'] = cross_tab[True] / (cross_tab[False] + cross_tab[True])
cross_tab5 = cross_tab.sort_values(by='ratio', ascending=False)
cross_tab5.head(50)

is_converted  False  True     ratio
bant_submit
0.00            431    82  0.159844
0.25          11580  1272  0.098973
0.75          10564  1117  0.095625
1.00          15619  1442  0.084520
0.50          16255   937  0.054502

In [192]:
high_ratio_response = cross_tab[cross_tab['ratio'] >= 0.01].index.tolist()

#### 1번째 기준

In [193]:
cross_tab = pd.crosstab(df_train['customer_job'], df_train['is_converted'])

# True 비율 계산
cross_tab['ratio'] = cross_tab[True] / (cross_tab[False] + cross_tab[True])
cross_tab2 = cross_tab.sort_values(by='ratio', ascending=False)
cross_tab2.head(50)

is_converted                      False  True     ratio
customer_job
design engineer                       0     2  1.000000
it - information technology           0     3  1.000000
account exec/manager                  0     2  1.000000
field marketing                       0     2  1.000000
other stores                          1     2  0.666667
account management                    2     2  0.500000
engineering & technical               7     6  0.461538
clinic                                4     3  0.428571
educator                              2     1  0.333333
av tech                               2     1  0.333333
architect                             7     3  0.300000
it                                    3     1  0.250000
information technology             1610   327  0.168818
associate/analyst                     5     1  0.166667
real estate                         247    48  0.162712
procurement                           6     1  0.142857
purchasing                         1667   271  0.139835
purchaser                            13     2  0.133333
marketing                          1040   121  0.104220
healthcare services                 568    64  0.101266
human resources                     100    11  0.099099
business development               1624   177  0.098279
administrative                     3035   324  0.096457
consulting                         1219   130  0.096368
military and protective services     77     8  0.094118
accounting                          360    36  0.090909
entrepreneurship                   1084   108  0.090604
engineering                        5776   566  0.089246
education                          2083   204  0.089200
research                            123    11  0.082090
program and project management      871    77  0.081224
finance                             429    34  0.073434
media and communication             657    52  0.073343
operations                         1830   131  0.066803
arts and design                    1191    85  0.066614
support                             335    23  0.064246
sales                              2077   141  0.063571
community and social services       129     8  0.058394
manager                              50     3  0.056604
other                              4594   258  0.053174
radiology professional              196    11  0.053140
graphic/color art                   318    13  0.039275
surgery professional                114     4  0.033898
product management                  554    19  0.033159
film production                     234     7  0.029046
quality assurance                    38     1  0.025641
curation                             41     1  0.023810
medical solution provider           145     3  0.020270
medical imaging specialist          194     4  0.020202
others                              750    13  0.017038

In [194]:
high_ratio_job = cross_tab[cross_tab['ratio'] >= 0.01].index.tolist()

#### 1-2번째

In [195]:
cross_tab = pd.crosstab(df_train['product_category'], df_train['is_converted'])

# True 비율 계산
cross_tab['ratio'] = cross_tab[True] / (cross_tab[False] + cross_tab[True])
cross_tab4 = cross_tab.sort_values(by='ratio', ascending=False)
cross_tab4.head(50)

is_converted                                    False  True     ratio
product_category
110 + video wall                                    0     1  1.000000
sac                                                 0     1  1.000000
hospitality                                         0     1  1.000000
laec015-gn.awz                                      0     1  1.000000
led 70m2                                            0     1  1.000000
led aio 136                                         0     1  1.000000
led cinema                                          0     1  1.000000
medical- surgical                                   0     1  1.000000
multi-split (plusieurs pièces)                      0     4  1.000000
one quick works                                     0     1  1.000000
one quick:flex                                      0     2  1.000000
one:quick                                           0     1  1.000000
pro centric hotel                                   0     1  1.000000
rac/cac                                             0     1  1.000000
radiology displays                                  0     1  1.000000
smart tv                                            0     1  1.000000
cac                                                 0     1  1.000000
system ac,solar,washing machine                     0     1  1.000000
systèmes de débit à réfrigérant variable (drv)      0     1  1.000000
taa lcd lfd displays                                0     1  1.000000
tv 55"                                              0     1  1.000000
video wall + aio                                    0     1  1.000000
videowall signage                                   0     1  1.000000
vrf - multi v s                                     0     1  1.000000
vrf,chiller                                         0     3  1.000000
vrf,multi-split                                     0     5  1.000000
vrf,multi-split,chiller                             0     1  1.000000
vrf,multi-split,etc.                                0     1  1.000000
vrf,multi-split,heating                             0     1  1.000000
מזגנים למקום מגורים                                 0     5  1.000000
gscd046                                             0     1  1.000000
高亮度顯示屏                                              0     1  1.000000
43uh5f-h.awzm                                       0     1  1.000000
49vl5g-m.awzm                                       0     1  1.000000
86uh5f                                              0     1  1.000000
55tc3d                                              0     1  1.000000
43us660h (na)                                       0     1  1.000000
32 / 43 pol                                         0     1  1.000000
55us660h0sd.bwz                                     0     2  1.000000
vrf,multi-split,single-split                        1     5  0.833333
vrf,multi-split,single-split,chiller                1     5  0.833333
互動式顯示屏                                              2     6  0.750000
led 顯示屏                                             4    11  0.733333
signage                                             2     4  0.666667
medical monitors                                    1     2  0.666667
標準顯示屏                                               2     3  0.600000
multi v                                             1     1  0.500000
tv                                                  6     6  0.500000
aio                                                 1     1  0.500000
43uq751c0sf.bwz                                     1     1  0.500000

In [196]:
high_ratio_category = cross_tab[cross_tab['ratio'] >= 0.01].index.tolist()

#### 1-1번째 기준

In [197]:
cross_tab = pd.crosstab(df_train['lead_owner'], df_train['is_converted'])

# True 비율 계산
cross_tab['ratio'] = cross_tab[True] / (cross_tab[False] + cross_tab[True])
cross_tab1 = cross_tab.sort_values(by='ratio', ascending=False)
cross_tab1.head(110)

is_converted  False  True     ratio
lead_owner
631               0     1  1.000000
931               0     2  1.000000
496               0     1  1.000000
937               0     2  1.000000
779               0     1  1.000000
...             ...   ...       ...
603               8    30  0.789474
163               9    32  0.780488
489               2     7  0.777778
621              10    34  0.772727
579               4    13  0.764706

[110 rows x 3 columns]

In [207]:
cross_tab = pd.crosstab(df_train['lead_owner'], df_train['is_converted'])
cross_tab['ratio'] = cross_tab[True] / (cross_tab[False] + cross_tab[True])

# 'ratio'가 0.65 이상인 'lead_owner'인것
high_ratio_owners = cross_tab[cross_tab['ratio'] >= 0.05].index.tolist()

#### 2번째 기준

In [199]:
cross_tab = pd.crosstab(df_train['customer_idx'], df_train['is_converted'])

# True 비율 계산
cross_tab['ratio'] = cross_tab[True] / (cross_tab[False] + cross_tab[True])
cross_tab3 = cross_tab.sort_values(by='ratio', ascending=False)
cross_tab3.head(1500)

is_converted  False  True  ratio
customer_idx
44094             0     4    1.0
21503             0     1    1.0
45715             0     1    1.0
39771             0     1    1.0
19370             0     1    1.0
...             ...   ...    ...
6507              0     2    1.0
41414             0     1    1.0
30547             0     1    1.0
21187             0     1    1.0
7774              0     4    1.0

[1500 rows x 3 columns]

In [203]:
high_ratio_customer = cross_tab3[cross_tab3['ratio'] >= 0.01].index.tolist()

#### 3번째 기준

In [201]:
df_test.loc[
    (df_test['customer_idx'].isin(high_ratio_customer) | df_test['customer_idx'].isna()) &
    (df_test['lead_owner'].isin(high_ratio_owners) | df_test['lead_owner'].isna()) &
    (df_test['customer_job'].isin(high_ratio_job) | df_test['customer_job'].isna()) &
    (df_test['product_category'].isin(high_ratio_category) | df_test['product_category'].isna()) &
    (df_test['response_corporate'].isin(high_ratio_response) | df_test['response_corporate'].isna()), 
    'is_converted'
] = 1

In [208]:
#df_test.loc[
  #  (df_test['lead_owner'].isin(high_ratio_owners)),'is_converted'] = 1

In [209]:
converted_count = df_test['is_converted'].sum()
converted_count

1997

In [210]:
submission = df_test

### 의미없어보이는 행을 False로

In [21]:
# False 비율 계산
cross_tab['ratio'] = cross_tab[False] / (cross_tab[False] + cross_tab[True])
cross_tab = cross_tab.sort_values(by='ratio', ascending=False)
cross_tab.head(30)

is_converted  False  True  ratio
lead_owner
1114              2     0    1.0
795               9     0    1.0
764               1     0    1.0
387              89     0    1.0
765              10     0    1.0
385              81     0    1.0
384             204     0    1.0
383               5     0    1.0
767               2     0    1.0
380               4     0    1.0
378               3     0    1.0
768               4     0    1.0
771               4     0    1.0
774               8     0    1.0
775               2     0    1.0
776               5     0    1.0
778               4     0    1.0
788             195     0    1.0
365               3     0    1.0
364               2     0    1.0
363             839     0    1.0
789             106     0    1.0
361               6     0    1.0
790               4     0    1.0
359             305     0    1.0
358              20     0    1.0
791               5     0    1.0
354               5     0    1.0
792               3     0    1.0
793               3     0    1.0

In [37]:
cross_tab = pd.crosstab(df_train['lead_owner'], df_train['is_converted'])
cross_tab['ratio'] = cross_tab[True] / (cross_tab[False] + cross_tab[True])

# 'ratio'가 0.1 이하인 'lead_owner'인것
low_ratio_owners = cross_tab[cross_tab['ratio'] <= 0.01].index.tolist()

In [45]:
#그러면서 'ver_pro'와 'ver_cus'가 0인 값
df_test.loc[(df_test['lead_owner'].isin(low_ratio_owners)) & (df_test['ver_pro'] != 1) & (df_test['ver_cus'] != 1) & (df_test['id_strategic_ver'] != 1) & (df_test['it_strategic_ver'] != 1), 'is_converted'] = 0

In [186]:
converted_count = df_test['is_converted'].sum()
converted_count

1984

In [211]:
submission.to_csv("submission.csv", index=False)